<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fraud Detection</title>
</head>
<body>
    <h1>Fraud Detection</h1>
    <form method="post" action="/predict-html/">
    <div>
        <input type="hidden" id="time" name="Time" value="100">
    </div>
    <div>
        <label for="card">Card Number:</label>
        <input type="text" id="card" name="card" value="2274-4722-2464-5834">
    </div>
    <div>
        <label for="exp">Expiry:</label>
        <input type="text" id="exp" name="exp" value="12/25">
    </div>
    <div>
        <label for="ccv">CCV:</label>
        <input type="text" id="ccv" name="ccv" value="123">
    </div>
    <div>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="Amount" value="149.62">
    </div>
    <div>
        <input type="hidden" id="v1" name="V1" value="-1.358354">
    </div>
    <div>
        <input type="hidden" id="v2" name="V2" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v3" name="V3" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v4" name="V4" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v5" name="V5" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v6" name="V6" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v7" name="V7" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v8" name="V8" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v9" name="V9" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v10" name="V10" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v11" name="V11" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v12" name="V12" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v13" name="V13" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v14" name="V14" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v15" name="V15" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v16" name="V16" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v17" name="V17" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v18" name="V18" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v19" name="V19" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v20" name="V20" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v21" name="V21" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v22" name="V22" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v23" name="V23" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v24" name="V24" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v25" name="V25" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v26" name="V26" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v27" name="V27" value="-1.340163">
    </div>
    <div>
        <input type="hidden" id="v28" name="V28" value="-1.340163">
    </div>
    <div>
        <label for="submit">Submut:</label>
        <input type="submit" id="submit" value="Submit">
    </div>
</form>
</body>
</html>
